/* General Style */
body{
	background: rgb(30,30,30);

}

.clr{
	clear: both;
}

ul{
list-style-type: none;
/*margin: 0;
padding: 0;*/
}

ul li{
/*	display: inline;*/
}

.container{
	width:1024px;
	margin: 0 auto;
	
}

.topsign{
	margin: 0 auto;
  width: 1024px;
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: 'Tungsten-Semibold';
  letter-spacing: 19px;
}

/*Train clock*/
#Clockholder{
	width:400px;
	margin:0 auto;
}

#Clock{
	width:400px;
	margin:0 auto;
	
}

/*Labels*/
.trainlabel{
	width:240px;
	text-align:center;
	font-family:'Tungsten-Semibold';
	float:left;
	font-size:50px;
	color:white;
}
.statuslabel{
	width:784px;
	text-align:center;
	font-family:'Tungsten-Semibold';
	float:right;
	font-size:50px;
	color:white;
}


/* Train Lines */

.trains{
	width:240px;
	float:left;
}

.trains123{
display:inline-block;
background-color: #EE352E;
border-radius: 25px;
text-align: center;
color:white;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
}


.trains456{
display:inline-block;
background-color: #00933C;
border-radius: 25px;
text-align: center;
color:white;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
}

.trainsACE{
display:inline-block;
background-color: #2850AD;
border-radius: 25px;
text-align: center;
color:white;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}

.trainsNQR{
display:inline-block;
background-color: #FCCC0A;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}

.trainsBDFM{
display:inline-block;
background-color: ##FF6319;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}

.trainsBDFM{
display:inline-block;
background-color: ##FF6319;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}

.trainsG{
display:inline-block;
background-color: #6CBE45;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}



.trainsJZ{
display:inline-block;
background-color: #996633;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}


.trains7{
display:inline-block;
background-color: #B933AD;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}

.trainsL{
display:inline-block;
background-color: #A7A9AC;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}

.trainsS{
display:inline-block;
background-color:#808183;
border-radius: 25px;
text-align: center;
color:#333;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
font-weight:400px;
}



/*Train Status Log*/
.status{
}

.letter{
		font-family: 'Tungsten-Semibold';
		font-size: 70px;
		font-weight: 400;
		color:white;
		height:60px; 
		line-height: 70px; /* should match height */
		position:relative;
		width:40px;
		display:inline-block;
		-webkit-perspective: 200;
		border: 10px solid rgba(0,0,0,0.5);
		text-align: center;
}

.rear{
		background: #121212;
		position: absolute;
		width: 100%;
		height: 100%;
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
}


.back span{
		display: block;
		margin-top:-30px;
		background:-webkit-gradient(linear, 30% top, 70% bottom, from(#383838), color-stop(.5, #111), to(#363636));
}

.frontbottom span{
	display: block;
	margin-top:-30px;
	background:-webkit-gradient(linear, 30% top, 70% bottom, from(#383838), color-stop(.5, #111), to(#363636));	
}

.front{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		background: #151515;
	}	


	
.fronttop{
		height: 50%;
		width: 100%;
		position: absolute;
		z-index: 10;
		-webkit-transform-origin: 50% 100%;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		-ms-transition: all 0.3s linear;
		transition: all 0.3s linear;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.9);

}

.fronttop .back{
		-webkit-transform: rotateX(-180deg); 
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		background: #151515;

}
.frontbottom{
	height: 50%;
		top: 50%;
		width: 100%;
		position: absolute;
		overflow: hidden;
		z-index: 1;
		background: #151515;
		-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
		-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
		box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		-ms-transition: all 0.3s linear;
		transition: all 0.3s linear;
		overflow:hidden;
	
}

.letter:hover .fronttop{
	-webkit-transform: rotateX(-180deg);
	}



/*fonts*/

@font-face {
    font-family: 'Tungsten-Medium';
    src: url('../Fonts/Tungsten/Tungsten-Medium.eot');
    src: url('../Fonts/Tungsten/Tungsten-Medium.eot') format('embedded-opentype'),
         url('../Fonts/Tungsten/Tungsten-Medium.ttf') format('truetype'),
		 url('../Fonts/Tungsten/Tungsten-Medium.svg') format('svg'),
		 url('../Fonts/Tungsten/Tungsten-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Tungsten-Black';
	 src: url('../Fonts/Tungsten/Tungsten-Black.eot');
    src: url('../Fonts/Tungsten/Tungsten-Black.eot') format('embedded-opentype'),
         url('../Fonts/Tungsten/Tungsten-Black.ttf') format('truetype'),
		 url('../Fonts/Tungsten/Tungsten-Black.svg') format('svg'),
		 url('../Fonts/Tungsten/Tungsten-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Tungsten-Semibold';
	 src: url('../Fonts/Tungsten/Tungsten-Semibold.eot');
    src: url('../Fonts/Tungsten/Tungsten-Semibold.eot') format('embedded-opentype'),
         url('../Fonts/Tungsten/Tungsten-Semibold.ttf') format('truetype'),
		 url('../Fonts/Tungsten/Tungsten-Semibold.svg') format('svg'),
		 url('../Fonts/Tungsten/Tungsten-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueLTStdBold';
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.eot');
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.woff') format('woff'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTStdCnBold';
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.eot');
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



