/* General Style */
body{
	background: rgb(30,30,30);

}

.clr{
	clear: both;
}

ul{
list-style-type: none;
/*margin: 0;
padding: 0;*/
}

ul li{
/*	display: inline;*/
}

.container{
	width:1024px;
	margin: 0 auto;
	
}

.topsign{
	margin: 0 auto;
  width: 1024px;
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: 'Tungsten-Semibold';
  letter-spacing: 19px;
}

/*Train clock*/
#Clockholder{
	width:400px;
	margin:0 auto;
}

#Clock{
	width:400px;
	margin:0 auto;
	
}

/*Labels*/
.trainLabel{
	width:240px;
	text-align:center;
	font-family:'Tungsten-Semibold';
	float:left;
	font-size:50px;
	color:white;
}
.statusLabel{
	width:784px;
	text-align:center;
	font-family:'Tungsten-Semibold';
	float:right;
	font-size:50px;
	color:white;
}


/* Train Lines */

.trains{
	width:240px;
	float:left;
}

.trains123{
display:inline-block;
background-color: red;
border-radius: 25px;
text-align: center;
color:white;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
}


.trains456{
display:inline-block;
background-color: green;
border-radius: 25px;
text-align: center;
color:white;
height:50px;
width:50px;
font-family:Helvetica;
font-size:42px;
}
/*Train Status Log*/
.status{

}

.letter{
font-family: 'Tungsten-Semibold';
font-size: 70px;
font-weight: 400;
color:white;
height:60px; 
line-height: 70px; /* should match height */
position:relative;
width:40px;
display:inline-block;
/*-webkit-perspective: 200;*/
border: 10px solid rgba(0,0,0,0.5);
text-align: center;

}


.front, .back{

position:absolute;
height: 100%;
width:100%;
/*overflow:hidden;*/
box-shadow: 0px 1px 3px rgba(0,0,0,0.9);


}


.backtop, .backbottom, .fronttop, .frontbottom{
position: absolute;
height: 50%;
width:100%;
background: black;
overflow: hidden;
box-shadow: 0px 1px 3px rgba(0,0,0,0.9);
border-radius: 1px;
}

.backtopletter, .fronttopletter{
background:black;
width:100%;
background:-webkit-gradient(linear, 30% top, 70% bottom, from(#383838), color-stop(.5, #111), to(#363636));
border-radius: 1px;
}

.backbottomletter, .frontbottomletter{
margin-top: -30px; /*Half Height of Letter*/
background:black;
background:-webkit-gradient(linear, 30% top, 70% bottom, from(#383838), color-stop(.5, #111), to(#363636));
border-radius: 1px;
}

.backbottom, .frontbottom{
top:50%;
border-radius: 1px;
}


.front{
z-index: 7;
-webkit-perspective: 100;
}

.fronttop{
z-index: 9;
-webkit-transform-origin: 50% 100%;
-webkit-transition: all 0.7s linear;
-webkit-backface-visibility: hidden;
}
.back{
	
}

.backtop{
z-index:2;
/*-webkit-transform: rotateX(180deg); */
}

.fronttop:hover{
-webkit-transform: rotateX(-180deg); 
}

/*fonts*/

@font-face {
    font-family: 'Tungsten-Medium';
    src: url('../Fonts/Tungsten/Tungsten-Medium.eot');
    src: url('../Fonts/Tungsten/Tungsten-Medium.eot') format('embedded-opentype'),
         url('../Fonts/Tungsten/Tungsten-Medium.ttf') format('truetype'),
		 url('../Fonts/Tungsten/Tungsten-Medium.svg') format('svg'),
		 url('../Fonts/Tungsten/Tungsten-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Tungsten-Black';
	 src: url('../Fonts/Tungsten/Tungsten-Black.eot');
    src: url('../Fonts/Tungsten/Tungsten-Black.eot') format('embedded-opentype'),
         url('../Fonts/Tungsten/Tungsten-Black.ttf') format('truetype'),
		 url('../Fonts/Tungsten/Tungsten-Black.svg') format('svg'),
		 url('../Fonts/Tungsten/Tungsten-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Tungsten-Semibold';
	 src: url('../Fonts/Tungsten/Tungsten-Semibold.eot');
    src: url('../Fonts/Tungsten/Tungsten-Semibold.eot') format('embedded-opentype'),
         url('../Fonts/Tungsten/Tungsten-Semibold.ttf') format('truetype'),
		 url('../Fonts/Tungsten/Tungsten-Semibold.svg') format('svg'),
		 url('../Fonts/Tungsten/Tungsten-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueLTStdBold';
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.eot');
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.woff') format('woff'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bd-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTStdCnBold';
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.eot');
    src: url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('../Fonts/HelveticaNeue/helveticaneueltstd-bdcn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



