html, body {
    margin: 0;
    padding: 0;
}

body{
background-image: url(WheelofFortuneBackground.jpg);
background-repeat: no-repeat;
}


#self-{
position:absolute;
left:319px;
top:260px;
}
    .block {
		width: 70px;
		height: 102px;
		float:left;
		margin: 0 4px;
		-webkit-perspective: 500px;
		-moz-perspective: 500px;
		-ms-perspective: 500px;
		-o-perspective: 500px;
		perspective: 500px;
		/* 		border: 1px solid #CCC; */
    }
    
    .letter {
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-transition: -webkit-transform 1s;
		-moz-transition: -moz-transform 1s;
		-ms-transition: -ms-transform 1s;
		-o-transition: -o-transform 1s;
		transition: transform 1s;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		transform-style: preserve-3d;
		
		-webkit-animation-name: fade-in;
		-webkit-animation-duration: .25s;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: linear;
	}
    
    .letter:hover {
		-webkit-transform: rotateY( -180deg );
		-moz-transform: rotateY( -180deg );
		-ms-transform: rotateY( -180deg );
		-o-transform: rotateY( -180deg );
		transform: rotateY( -180deg );
    }
    
    .letterreveal{
    -webkit-transform: rotateY( -180deg );
		-moz-transform: rotateY( -180deg );
		-ms-transform: rotateY( -180deg );
		-o-transform: rotateY( -180deg );
		transform: rotateY( -180deg );
    }
    
   figure {
		margin: 0px;
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		backface-visibility: hidden;
    }
    
    
    .letter .back {
		-webkit-transform: rotateY( 180deg );
		-moz-transform: rotateY( 180deg );
		-ms-transform: rotateY( 180deg );
		-o-transform: rotateY( 180deg );
		transform: rotateY( 180deg );
    }


#potato{
position:absolute;
left:319px;
top:371px;
}


#contestant{
position:absolute;
height:198px;
width:216px;

left:960px;
top:260px;

}

#guessbutton{
position:absolute;
left:1024px;
top:500px;

}

#Fail{
background-image: url(Contestant-Fail.jpg);
background-repeat: no-repeat;
}


#Guess{
background-image:url(Contestant-Guess.jpg);
background-repeat: no-repeat;
}


@-webkit-keyframes fade-in {
    90% {opacity:.1}
    
    95% {opacity:.9}
}










